html,
body {
  margin: 0;
  background-color: #e6e6e6;
}

/* 以下為在antd下直接引入css檔無法顯示，需要特別寫出來的樣式 */
/* ------------------------------------------------------------------------- */
/* MyForm組件中，轉帳金額若不符合規則時的樣式 */

.focused {
  box-shadow: 0 0 1px 2.5px rgb(255, 204, 204, 0.65);
}
